/* WEB FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Inter:wght@400;500;600;700&display=swap');

/* VARIABLES */
:root {
  /* change bootstrap variables */
  --bs-gray: #a9a8ac;
  --bs-gray-dark: #69676c;
  --bs-primary: #d6615b;
  --bs-secondary: #3e54d8;
  --bs-light: #f0f0f0;
  --bs-dark: #343337;
  --bs-font-sans-serif: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* my variables */
  --primary-dark: #b2342e;
  --primary-light: #f2dad9;
  --secondary-dark: #1529a3;
  --secondary: #3e54d8;
  --secondary-light: #ebeefc;
  --background: #f6efe9;

  --small-shadow: 1px 1px 0px rgba(52, 51, 55, 1);
  --small-shadow-red: 1px 1px 0px #b2342e;
  --big-shadow-dark: 4px 4px 0px rgba(52, 51, 55, 1);
  --big-shadow-red: 4px 4px 0px rgba(214, 97, 91, 1);
  --big-shadow-blue: 4px 4px 0px rgba(62, 84, 216, 1);

  --basic-border: 2px solid;
  --slim-border: 1px solid;

  --font-special: 'Bricolage Grotesque', sans-serif;
}

/* CHANGE BOOTSTRAP CLASSES */
.text-primary {
  color: var(--bs-primary) !important;
}
.text-secondary {
  color: var(--bs-secondary) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--bs-dark);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--bs-primary) !important;
}
.navbar-collapse.show .nav-link {
  border-bottom: 1px solid var(--primary-light);
}
.navbar-expand-lg .nav-link {
  border-bottom: 0;
}
.accordion-item {
  border-color: var(--primary-dark);
}
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item:first-of-type,
.accordion-item:last-of-type {
  border-radius: 0;
}
.accordion-button:not(.collapsed),
.accordion-button {
  box-shadow: inset 0 -1px 0 rgba(214, 97, 91, 0.25);
  color: var(--primary-dark);
  font-family: var(--font-special);
  font-size: 1.2rem;
  font-weight: 700;
}
.accordion-button:not(.collapsed) {
  background-color: var(--primary-light);
}
.accordion-button:focus,
.accordion-button:hover,
.accordion-button:active,
.navbar-toggler:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(214, 97, 91, 0.25);
}
.accordion-button::after {
  background-image: url('');
  color: var(--primary-dark);
  content: '\002B';
  font-size: 2rem;
  line-height: 1.5rem;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}
.accordion-button:not(.collapsed)::after {
  background-image: url('');
  content: '\2212';
  line-height: 1.5rem;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}
.carousel-indicators [data-bs-target] {
  background-color: var(--secondary-light);
  border: 0;
  border-radius: 3px;
  height: 6px;
  margin: 3px;
}
.carousel-indicators .active {
  background-color: var(--bs-secondary);
  opacity: 1;
}
.form-control {
  border-color: var(--bs-gray);
  border-radius: 0;
}
.form-control:focus {
  border-color: var(--bs-secondary);
  box-shadow: 0 0 0 0.25rem rgba(62, 84, 216, 0.25);
}

/* CUSTOM STYLE */
h1,
h2,
h3,
h4,
h5,
.btn {
  font-family: var(--font-special);
}
.bg-custom {
  background-color: var(--background);
}
.shadow-dark {
  box-shadow: var(--big-shadow-dark);
}
.shadow-primary {
  box-shadow: var(--big-shadow-red);
}
.border-primary {
  border-color: var(--primary-dark) !important;
}
.shadow-secondary {
  box-shadow: var(--big-shadow-blue);
}
.border-secondary {
  border-color: var(--secondary-dark) !important;
}
.mini-shadow {
  text-shadow: var(--small-shadow);
}
.mini-shadow-primary {
  text-shadow: var(--small-shadow-red);
}
.text-2 {
  font-size: 2rem;
}
.card {
  height: 100%;
}
.m-title {
  margin-top: -60px;
}
.bg-light-gray {
  background-color: var(--bs-light);
}
#title h1 {
  font-size: 3rem;
}
#hero {
  background: url('../graficos/photos/hero01.jpg') center 70% / cover no-repeat;
  height: 40vh;
  position: relative;
  width: 100%;
}
.btn-form {
  background-color: var(--bs-primary);
  border: 1px solid;
  border-color: var(--bs-dark);
  border-radius: 0;
  box-shadow: 4px 4px 0px var(--bs-dark);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.75rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.btn-form:active,
.btn-form:focus {
  border: 2px solid;
  border-color: var(--bs-dark);
  border-radius: 0;
  box-shadow: 1px 1px 0px var(--bs-dark);
  transform: translateY(4px);
}
.btn-form:hover {
  background-color: var(--primary-dark);
  color: #ffffff;
  cursor: pointer;
}
